body {
    font-family: "lucida grande", "Arial", sans-serif;
    font-size: 12px;
    background: #000;
    color: #FFF;
    margin: 0 auto;
    padding: 0 0 0;
    overflow: auto;
}

body.normal {
    width: 960px;
}


table th, table td {
    text-align: left;
}

table td img {
    display: block;
}

table {
    background: #FFF;
    color: #000;
    width: 100%;
}

    table td, table th {
        padding: 3px 6px;
    }


h3, h4 {
    font-size: 18px;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    background: #555;
    margin: 0;
    padding: 10px 10px 5px;
}

h4 {
    padding: 0 10px 10px;
    font-size: 14px;
    margin-bottom: 10px;
}

ul.nominee-list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    clear: both;
}

    ul.nominee-list li {
        margin: 0 10px 10px 0;
        padding: 10px;
        background: #222;
        width: 260px;
        display: block;
        float: left;
        overflow: auto;
        cursor: pointer;
        height: 55px;
    }
    
        ul.nominee-list li:hover {
            background: #333;
        }
        
        ul.nominee-list li.selected {
            background: #555;
        }
        
        ul.nominee-list.locked li {
            cursor: default;
        }
        
        ul.nominee-list.locked li:hover {
            background: #333;
        }
        
        ul.nominee-list.locked li.selected:hover {
            background: #555;
        }
        
        ul.nominee-list.locked li.incorrect {
            background: #700;
        }
        
        ul.nominee-list.locked li.correct {
            background: #261;
        }
    
    ul.nominee-list li img.nominee-image {
        float: left;
        display: block;
        background: #000;
        padding: 1px;
        margin: 0 16px 0 0;
        border: 1px solid #AAA;
        height: 50px;
        width: 40px;
    }

    ul.nominee-list li div.nominee-info {
        float: left;
        display: block;
        margin: 0;
        padding: 0;
        width: 200px;
    }

p.nominee-title {
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    margin: 12px 0 0;
    padding: 0;
}

p.nominee-detail {
    font-size: 10px;
    line-height: 14px;
    max-height: 14px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.big-submit {
    width: 120px;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: #FFF;
    background: #444;
    border-radius: 10px;
    border: 0;
    margin: 0 auto;
    display: block;
    cursor: pointer;
}

    .big-submit:hover {
        background: #666;
    }


/* CHART */

ul.chart {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    clear: left;
}


ul.chart li.chart-column {
    width: 110px;
    display: block;
    list-style: none;
    margin: 0 10px 0 0;
    padding: 0;
    float: left;
}

    ul.chart li.chart-column.chart-points-10 {
        padding-top: 110px;
        width: 160px;
    }
    
        li.chart-column.chart-points-10 ul.chart-column-list p.category-points {
            font-size: 52px;
            line-height: 64px;
        }
    
    ul.chart li.chart-column.chart-points-5 {
        padding-top: 70px;
        width: 130px;
    }
        
        li.chart-column.chart-points-5 ul.chart-column-list p.category-points {
            font-size: 42px;
            line-height: 54px;
        }
        
    ul.chart li.chart-column.chart-points-3 {
        padding-top: 30px;
        width: 120px;
    }
        li.chart-column.chart-points-3 ul.chart-column-list p.category-points {
            font-size: 36px;
            line-height: 42px;
            line-height: 
        }

    ul.chart li.chart-column ul.chart-column-list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: block;
    }
    
    ul.chart-column-list li {
        background: #555;
        padding: 6px 6px 12px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        margin-bottom: 10px;
    }
    
        ul.chart-column-list p.category-title {
            font-size: 10px;
            margin: 0;
            padding: 0;
            text-transform: uppercase;
            text-align: center;
            display: block;
        }
        
        ul.chart-column-list p.category-points {
            margin: 5px 0;
            padding: 0;
            font-size: 30px;
            text-align: center;
            line-height: 36px;
        }

.rank-list {
    list-style: none;
    padding: 0;
    margin: 0;   
    
}

.rank-list li {
    margin-bottom: 10px;
}

.rank-list p {
    margin: 0;
    padding: 0;
    text-align: center;
}

.rank-list p.rank-username {
    text-transform: uppercase;
    font-size: 13px;
    line-height: 17px;
    margin-bottom:3px;
}

.rank-list li:first-child p.rank-username {
    font-size: 16px;
    line-height: 20px;
}

.rank-list p.rank-score {
    font-size: 9px;
    line-height: 12px;
}

ul.nav {
    list-style: none;
    background: #444;
    margin-bottom: 20px;
    color: #000;
    display: block;
    padding: 0 14px;
    border-radius: 0 0 5px 5px / 0 0 5px 5px;
    -moz-border-radius: 5px;
    overflow: auto;
}

.nav li {
    float: left;
    display: block;
}

    .nav li span, .nav li a {
        display: block;
        color: #888;
        padding: 10px 10px;
    }
    
    .nav li span {
        color: #FFF;
    }

    .nav li a {
        border-radius: 0 0 4px 4px / 0 0 4px 4px;
        -moz-border-radius: 0 0 4px 4px / 0 0 4px 4px;
    }
    
    .nav li a:hover {
        background: #444;
        color: #FFF;
    }


.user-form {
    width: 240px;
    padding: 60px 80px;
    display: block;
    margin: 40px auto 0;
    background: #222;
    border-radius: 20px;
    -moz-border-radius: 20px;
}

    .user-form h1 {
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .user-form label {
        display: block;
        color: #CCC;
        text-transform: uppercase;
        line-height: 16px;
        font-size: 12px;
    }
    
    .user-form input.text {
        border: 0;
        background: #555;
        color: #FFF;
        border-radius: 8px;
        -moz-border-radius: 8px;
        font-size: 18px;
        outline: none;
        line-height: 24px;
        padding: 6px 8px;
        display: block;
        width: 100%;
    }

.message {
    color: #F44;
    text-align: center;
}
