{% include "../header.htm" %}

    <div class='user-form'>
    <h1>Edit User</h1>
    <form action="/admin/users/{{ user['_id'] }}" method="POST">
    <p>
        <label for="username">Name:</label>
        <input class="text" type="text" name="name" value="{{ user['name'] }}"/>
    </p>
    <p>
        <label for="username">Username:</label>
        <input class="text" type="text" name="username" value="{{ user['username'] }}"/>
    </p>
    <p>
        <label for="email">Email: </label>
        <input class="text" type="text" name="email" value="{{ user['email'] }}"/>
    </p>
    <p>
        <label for="password">Password: (leave blank for same)</label>
        <input class="text" type="password" name="password" value=""/>
    </p>
    <p><input type="submit" value="Submit"/></p>
    </form>
    </div>

{% include "../footer.htm" %}
