{% include "header.htm" %}

    <div class='user-form'>
    <h1>New User</h1>
    {% if message %}
    <p class="message">{{ message }}</p>
    {% end if %}
    <form action="/new" method="POST">
    <p>
        <label for="username">Name:</label>
        <input class="text" type="text" name="name" value="{% if name %}{{ name }}{% end if %}"/>
    </p>
    <p>
        <label for="username">Username:</label>
        <input class="text" type="text" name="username" value="{% if username %}{{ username }}{% end if %}"/>
    </p>
    <p>
        <label for="email">Email: </label>
        <input class="text" type="text" name="email" value="{% if email %}{{ email }}{% end if %}"/>
    </p>
    <p>
        <label for="password">Password: </label>
        <input class="text" type="password" name="password" value=""/>
    </p>
    <p><input type="submit" value="Submit"/></p>
    </form>
    </div>

{% include "footer.htm" %}
