<html>
<head>
    <style>
    
        table th, table td {
            text-align: left;
        }
    
    </style>
</head>
<body>

    <h1>User</h1>
    {% if message %}
    <p class="message">{{ message }}</p>
    {% end if %}
    <form action="/users/new" method="POST">
    <table>
        <tr><th>Field</th><th>Value</th></tr>
        <tr>
            <td>Username:</td>
            <td><input type="text" name="username" value=""/></td>
        </tr>
        <tr>
            <td>Email: </td>
            <td><input type="text" name="email" value=""/></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" name="password" value=""/></td>
        </tr>
    </table>
    <input type="submit" value="Submit"/>
    </form>
    
</body>
</html>
