{% include "header.htm" %}

    <ul class="chart">
        {% for column in columns %}
        <li class="chart-column chart-points-{{ column[0].get('points', 0) }}">
            <ul class="chart-column-list">
            {% for category in column %}
            <li class="chart-category">
                <p class="category-title">{{ category['title'] }}</p>
                <p class="category-points">{{ category.get('points', 0) }}</p>
            </li>
            {% end for %}
            </ul>
            {% if len(column) == 1 %}
            <!-- middle column -->
            <ol class="rank-list">
                {% for user_id, score, correct in scores[:5] %}
                <li>
                    <p class="rank-username">
                        {{ users_by_id[user_id]['username'] }}
                    </p>
                    <p class="rank-score">
                        <b>{{ score }} POINTS</b><br/>({{ correct }} / {{ total }})
                    </p>
                </li>
                {% end for %}
            </ol>
            {% if len(scores) > 5 %}
            <p></p>
            {% end if %}
            {% end for %}
        </li>
        {% end for %}
    </ul>
    
{% include "footer.htm" %}
